@use 'mixins';

body {
    font-family: 'Kumbh Sans', sans-serif;
}

//HEADER//
.cont-main {
    width: 536px; margin: auto; transition: 1s; box-sizing: border-box; position: relative;  margin-bottom: 30px;
    @media (min-width: 800px) {
        transition: 1s; width: 170vh; 
    }
}

.header {
    height: 69px; padding: 0 24px; transition: 1s;
    display: flex; align-items: center; justify-content: space-between;
    @media (min-width: 800px) {
        transition: 1s; height: 73px; border-bottom: 3px solid #817979c4;
    }

    &-navegacion {
        transition: 1s; width: 200px; display: flex; align-items: center; justify-content: space-between; height: 100%;
        @media (min-width: 800px) {
            transition: 1s; width: 785px; margin-left: 100px;
        }
    }

    &-logo-box h1 a{
        text-decoration: none; transition: 0.5s; font-size: 35px; font-weight: bold; color: rgb(0, 0, 0); cursor: pointer; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        &:hover {
            color : #5da6bf; transition: 0.5s;
        }
      }

    &-cart-avatar {
        display: flex; align-items: center; width: 100px; justify-content: space-between; height: 50px;
        @media (min-width: 800px) {
            transition: 1s; width: 125px; margin-right: 50px;
        }
    }

    &-cart {
        position: relative;
        &--noti {
            display: none;
            right: -5px; background-color: #5da6bf; color: white; border-radius: 16px; height: 12px; width: 15px; position: absolute; top: -15px; font-size: 0.6em; text-align: center;
        }

    }

    &-avatar {
        cursor: pointer; transition: 1s; width: 30px; height: 30px; box-sizing: border-box; border-radius: 40px;
        &:hover {
            padding: 3px; backdrop-filter: blur(1px); background-color: rgba(207, 207, 207, 0.212); border-radius: 40px;
        }

        @media (min-width: 800px) {
            width: 48px; height: 48px; 
            &:hover {
                padding: 5px; backdrop-filter: blur(1px); background-color: rgba(207, 207, 207, 0.212); border-radius: 40px;
            }
        }
        
    }
}


//ICONOS//

i {
    cursor: pointer; transition: 0.5s;

    &:hover {
        color : #5da6bf; transition: 0.5s;
    }
}

#menu-icono {
    @media (min-width: 800px) {
        display: none;
    }
}

#galeria-prev {
    @include mixins.galeria-btn(200px , 15px, false);
}

#galeria-next {
    @include mixins.galeria-btn(200px , 475px , false); 
}

#modal-galeria-prev {
    @include mixins.galeria-btn(250px , -20px , true);
}

#modal-galeria-next {
    @include mixins.galeria-btn(250px , 475px, true); 
}

#input-minus {
    @include mixins.input-icons; margin-left: 30px;
}

#input-minus:hover {
    color: red; 
}

#input-plus {
    @include mixins.input-icons; margin-right: 30px;
}

#input-icon-btn {
    transition: none;
}

#galeria-x-icono {
    width: 500px; color: rgba(255, 255, 255, 0.781); text-align: right; margin-bottom: 10px;
    &:hover {
        color: white;
    }
}
 
//MENU DESTOP//
.menu {
    transition: 0.7s; display: none;

    @media (min-width: 800px) {
        display: flex;
    }

    &-listado {
        margin-right: 177px;
        display: flex; justify-content: space-between; align-items: center; list-style: none;  font-weight: bold;
    }

    &-activo {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-decoration: none;
        margin: 0px 30px; color: black; font-size: 16px; display: block; height: 73px; padding-top: 25px;

        &:hover {
            border-bottom: 4px solid #5da6bf; color: #5da6bf;
        }
    }
}

//MENU MOVIL//
.modal-menu {
    background-color: white; width: 250px; padding: 28px 24px; height: 100%;
    
    &-b {
        @include mixins.modal-b; display: none; top: 0;
        @media (min-width: 800px) {
            display: none; transition: 1s;
        }
    }

    &-listado {
        display: flex; flex-direction: column; height: 200px; justify-content: space-between; list-style: none; margin-top: 50px;
    }

    &-activo {
        text-decoration: none; list-style: none; color: black; margin: 0px 10px; padding: 8px; color: var(--black); border-radius: 24px; font-size: 16px; transition: 0.3s;
        &:hover {
            background: #fff; color: #5da6bf;
        }
    }
}


//GALERIA//
.galeria {
    &-img {
        background-image: url("../../IMG/placas personalizadas (1).jpeg"); height: 300px; width: 100%; background-size: cover; background-position-y: -100px; cursor: pointer;
    }

    &-conts {
        display: none;

        @media (min-width: 800px) {
            display: flex; justify-content: space-between; border-radius: 16px; 
        }
    }

    &-cont {
        width: 90px; border-radius: 16px; cursor: pointer; transition: 0.01s; 

        &:hover {
            border: 3px solid white; transition: 0.01s; outline: none;
        }
    }

    @media (min-width: 800px) {
        width: 500px; border-radius: 16px;

        &-img {
            border-radius: 16px; height: 500px; margin-bottom: 32px; background-position-y: 0;
        }
        
    }    

}


//MODAL GALERIA// 
.modal-galeria {
    width: 500px;  border-radius: 16px;
    &-b {
        @include mixins.modal-b; display: none; 
        place-content: center;

        @media (max-width: 800px) {
            display: none;
        }
    }

    &-img {
        background-image: url("../../IMG/placas personalizadas (1).jpeg"); background-size: cover; border-radius: 16px; height: 500px; margin-bottom: 32px; background-position-y: 0; width: 500px; position: relative;
    }
    
    &-conts {
        display: flex; justify-content: space-between; border-radius: 16px;
    }

    &-cont {
        width: 90px; border-radius: 16px; cursor: pointer; transition: 0.01s; 

        &:hover {
            border: 3px solid transparent; transition: 0.01s; outline: none;
        }
    }
}

//INFORMACION//

.info {
    padding: 24px;

    &-company a {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; transition: 0.5s;
        color: black; font-size: 16px; display: block; cursor: pointer; width: 75px; margin-bottom: 12px; text-decoration: none;

        &:hover {
            color: #5da6bf; 
        }
    }

    &-title {
        font-size: 1.5em; margin-bottom: 16px;
    }

    &-descripcion {
        text-align: justify; max-width: 100%; margin-bottom: 24px; 
    }

    &-precio {
        margin-bottom: 24px; font-weight: bold; border-radius: 4px; font-size: 1.4em; width: 85px;
    }

    &-button {
        @include mixins.info-button; 
    }

    @media (min-width: 800px) {
        padding-top: 60px; width: 600px; border-radius: 16px;

        &-title {
            font-size: 2.3em; margin-bottom: 48px;
        }

        &-descripcion {
            margin-bottom: 37px;
        }

        &-compra {
            display: flex; gap: 32px;
        }
    }
}

//INPUT//
.input {
    display: flex; height: 57px; align-items: center; justify-content: space-between; border-radius: 5px; background-color: #ccc6c627; backdrop-filter: blur(10px); box-shadow: 0 0 20px rgba(0,0,0,0.1); margin-bottom: 10px; 

    &-number {
        width: 100%; border: none; font-size: 1.2em; font-weight: 700; text-align: center; outline: none; background-color: transparent;

    }
}

//CART MODAL//
.cart-modal {
    background-color: white; display: none; 
    width: 96%; height: 260px; position: absolute; top: 75px; box-shadow: 0 0 20px rgba(0,0,0,0.2); border-radius: 6px; left: 10px;  

    &-titulo {
        font-weight: 700; padding: 24px; border-bottom: 3px solid #81797960;
    }

    &-cont {
        padding: 24px;
    }

    &-det-cont {
         display: flex; align-items: center; margin-bottom: 24px; justify-content: space-between; color: rgba(0, 0, 0, 0.897);
    }

    &-img {
        width: 10vh; height: 10vh; border-radius: 4px;
    }

    &-precio span {
        font-weight: 700; 
    }

    &-pagar {
        @include mixins.info-button;
    }

    @media (min-width: 800px) {
        width: 30%; left: 110vh; top: 60px;
    }
}


.contenido {

    @media (min-width: 800px) {
        display: flex; padding: 90px 50px; gap: 124px; 
    }
}


//Producto Relacionados

.titulo h2{
    margin-top: -10px; font-weight: 700; font-size: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  width: 14.5%; margin-left: 45%; color: black;

    @media (max-width: 800px) {
        margin-left: 35%;
    }
}

.carrusel{
    margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;  
    width: 100%; position: relative; background-color: white;
    font-size: 14px; padding: 0; height: 650px;
}


.swiper {
    width: 100%; padding: 50px 0 50px 0;
}

.swiper-slide {
  padding: 40px;
  width: 400px; height: 550px; background-color: white; box-shadow: 0 0 20px rgba(0,0,0,0.4); text-align: center;
}

.swiper-slide .iconos {
    display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px;
}

.swiper-slide .iconos i {
    font-size: 20px; color: black; cursor: pointer; transition: 1s;
}

.swiper-slide .iconos .fa-solid:hover {
  color: white; background-color: #5da6bf; border-radius: 20px; transition: 0.3s;
}

.swiper-slide .iconos .fa-regular:hover {
  color: red; transition: 0.3s;
}


.swiper-slide .iconos img {
  width: 120px; border-radius: 20px; box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.producto {
  display: flex; justify-content: space-between;
}

.producto-info {
  flex-basis: 50%; text-align: left;
}

.producto-info span {
  font-size: 25px; color: #5da6bf; font-weight: bold;
}

.producto-info h3 {
  font-size: 20px; color: black; text-transform: uppercase;
}

.producto-info p {
  font-size: 14px; color: black; text-align: justify; width: 97%;
}

.producto-img {
  flex-basis: 50%; text-align: right;
}

.producto-img img {
  width: 150px; height: 220px; border-radius: 20px; box-shadow: 0 0 20px rgba(0,0,0,0.4); cursor: pointer;
}

.producto-img img:hover{
  padding: 5px;
  backdrop-filter: blur(500px); background-color: rgba(0, 0, 0, 0.116); border-radius: 20px
}

.btn-1 {
  cursor: pointer; transition: 1s;
  display: inline-block; padding: 13px 20px; border-radius: 8px; color: white; text-decoration: none; margin-top: 40px; background-color: black;
}

.btn-1:hover {
  color: #5da6bf; background-color: white; border: transparent; background-color: white; box-shadow: 0 0 20px rgba(0,0,0,0.2); transition: 0.5s;
}



