@use 'initial';

.show {
    display: block;
}

.cart-vacio {
    text-align: center; font-weight: 700; margin-top: 50px; font-size: 16px; color: #817979c4;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

